:root { 
--black_900_7f:#0000007f; 
--red_600:#ee3840; 
--gray_900_99:#1c231f99; 
--gray_900_11:#1c231f11; 
--light_green_A700:#7ecd00; 
--light_green_A100:#cff09a; 
--gray_900_8c:#1c231f8c; 
--light_blue_500:#08a8f0; 
--blue_A200:#4f7ef9; 
--gray_900_19:#1c231f19; 
--light_green_700_19:#63ac4519; 
--yellow_400:#fdf061; 
--teal_500:#059b7e; 
--yellow_A400:#fde803; 
--amber_A700:#ffab0b; 
--deep_orange_700:#e55920; 
--indigo_A400_66:#3b69de66; 
--gray_900_4c:#1c231f4c; 
--white_A700_19:#ffffff19; 
--deep_orange_500:#fc5426; 
--gray_600:#aa695d; 
--black_900_4c:#0000004c; 
--gray_402:#b3b3b3; 
--white_A700_4c:#ffffff4c; 
--gray_601:#777777; 
--gray_403:#c5c5c5; 
--gray_400:#c4c4c4; 
--gray_900_26:#1c231f26; 
--gray_900_bf:#1c231fbf; 
--gray_401:#b1b6b3; 
--gray_802:#39443e; 
--gray_604:#848484; 
--gray_800:#484848; 
--gray_602:#797979; 
--gray_900_66:#1c231f66; 
--amber_700:#fd9d01; 
--gray_801:#5a443d; 
--gray_603:#737373; 
--amber_100:#fff2b4; 
--yellow_50:#fff5e9; 
--amber_300:#f1ca50; 
--gray_200:#e9e9e9; 
--gray_900_d8:#1c231fd8; 
--black_900_99:#00000099; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--gray_52:#fbfbfb; 
--gray_51:#fff5f5; 
--deep_orange_50:#ffe1d6; 
--deep_orange_A200:#ff702a; 
--gray_900_33:#1c231f33; 
--green_800:#387232; 
--green_600:#509c49; 
--gray_50:#f9f9f7; 
--light_blue_800:#0680ae; 
--red_50:#fff1ea; 
--teal_400:#3691bb; 
--gray_900_a5:#1c231fa5; 
--teal_401:#22b27f; 
--black_900:#000000; 
--light_green_700:#63ac45; 
--light_green_700_33:#63ac4533; 
--gray_900_e5:#1c231fe5; 
--yellow_900:#f7921e; 
--gray_501:#a09f9f; 
--gray_700:#5a5757; 
--gray_502:#aaa5a5; 
--gray_301:#dfdfdf; 
--gray_500:#979797; 
--amber_600:#fcb30b; 
--gray_900_00:#1c231f00; 
--gray_900:#1c231f; 
--bluegray_100:#d9d9d9; 
--light_blue_50:#e7f7fe; 
--light_green_700_26:#63ac4526; 
--gray_300:#e1e1e1; 
--bluegray_900:#0f2355; 
--gray_900_3f:#1c231f3f; 
--bluegray_101:#cdcdcd; 
--cyan_901:#025f80; 
--light_green_50:#f0f7ed; 
--cyan_900:#024c67; 
--bluegray_900_19:#0f235519; 
--indigo_500:#325fd1; 
--cyan_500:#00d0e2; 
}